body {
  font-family: Arial, sans-serif;
  padding: 16px;
  line-height: 1.6;
  font-family: Arial;
  max-width: 400px;
  background-color: rgb(187, 187, 236);
  font-family: "Times New Roman", Times, serif;
}

.image {
  width: 350px;
  margin-left: 20px;
}

.title_h1 {
  color: rgb(71, 71, 152);
  font-weight: bold;
  font-size: 17px;
}

.note {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-left: 19px;
  margin-bottom: 5px;
}
